[board_pins btt_manta-8P_v2_Pins] 
aliases:
aliases_step:
    M1_STEP= PE6, M1_DIR= PE5, M1_EN=PC14, M1_CS=PC13,
    M2_STEP= PE2, M2_DIR= PE1, M2_EN= PE4, M2_CS= PE3,
    M3_STEP= PB8, M3_DIR= PB7, M3_EN= PE0, M3_CS= PB9,
    M4_STEP= PB4, M4_DIR= PB3, M4_EN= PB6, M4_CS= PB5,
    M5_STEP=PG13, M5_DIR=PG12, M5_EN=PG15, M5_CS=PG14,
    M6_STEP= PG9, M6_DIR= PD7, M6_EN=PG11, M6_CS=PG10,
    M7_STEP= PD4, M7_DIR= PD3, M7_EN= PD6, M7_CS= PD5,
    M8_STEP= PC7, M8_DIR= PC8, M8_EN= PD2, M8_CS= PC6
aliases_limitsw:
    M1_STOP=PF4, 
    M2_STOP=PF3, 
    M3_STOP=PF2,
    M4_STOP=PF1,
    M5_STOP=PF0 , 
    M6_STOP=PC15
aliases_probes:
    BLSENSOR=PD12 ,
    BLCONTROL=PD13,
    IND_PROBE=PD8
aliases_fans:
    FAN0=PF7 , 
    FAN1=PF9 , 
    FAN2=PF6 , 
    FAN3=PE8 , 
    FAN4=PA4 ,
    FAN5=PA6 , FAN5_TACH=PC2 ,
    FAN6=PA2 , FAN6_TACH=PC1 
aliases_thermistors:
    THB=PB1 ,
    TH0=PB0 ,
    TH1=PC5 ,
    TH2=PC4 ,
    PH3=PA7
aliases_heaters:
    HE0=PA0 ,
    HE1=PA1 ,
    HE2=PA3 ,
    HE3=PA5 ,
    BED_HEATER=PF5
aliases_rgb:
    CHAMBER_RGB=PD15
aliases_i2c:
    SCL= PA8,
    SDA= PC9
aliases_spi:
    MISO=PG7 , 
    MOSI=PG6 , 
    SCLK=PG8 
aliases_can:
    CAN_TX=PD1,
    CAN_RX=PD0,
    CAN_STANDBY=
aliases_misc:
    PS_ON=PD14, 
   aliases:
    # EXP1 header
    EXP1_1=PE7, EXP1_2=PG1,
    EXP1_3=PG0, EXP1_4=PF15,
    EXP1_5=PF14, EXP1_6=PF13,    # Slot in the socket on this side
    EXP1_7=PF12, EXP1_8=PF11,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PE15, EXP2_4=PE11,
    EXP2_5=PE10, EXP2_6=PE14,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>
