[board_pins btt_manta-8P_v1_Pins] 
aliases:
aliases_step:
    M1_STEP=PE2 , M1_DIR=PB4 , M1_EN=PC11, M1_CS=PC10,
    M2_STEP=PF12, M2_DIR=PF11, M2_EN=PB3 , M2_CS=PF13,
    M3_STEP=PD7 , M3_DIR=PD6 , M3_EN=PF10, M3_CS=PF9 ,
    M4_STEP=PD3 , M4_DIR=PD2 , M4_EN=PD5 , M4_CS=PD4 ,
    M5_STEP=PC9 , M5_DIR=PC8 , M5_EN=PD1 , M5_CS=PD0 ,
    M6_STEP=PA10, M6_DIR=PA14, M6_EN=PA15, M6_CS=PF8 ,
    M7_STEP=PD11, M7_DIR=PD9 , M7_EN=PD15, M7_CS=PD14,
    M8_STEP= PD8, M8_DIR=PC6 , M8_EN=PC7 , M8_CS=PD10
aliases_limits:
    M1_STOP=PF3,
    M2_STOP=PF4, 
    M3_STOP=PF5,
    M4_STOP=PC0,
    M5_STOP=PC1, 
    M6_STOP=PC2,
aliases_probes:
    BLSENSOR=PB1 ,
    BLCONTROL=PB2,
    IND_PROBE=PF6
aliases_fans:
    FAN0=PE6 , 
    FAN1=PE0 , 
    FAN2=PC12, 
    FAN3=PE5 , 
    FAN4=PE4 ,
    FAN5=PB8 , FAN5_TACH=PC14 ,
    FAN6=PB9 , FAN6_TACH=PC15 
aliases_thermistors:
    THB=PA1 ,
    TH0=PA2 ,
    TH1=PA3 ,
    TH2=PA4 ,
    TH3=PA0
aliases_heaters:
    HE0=PE3 ,
    HE1=PB5 ,
    HE2=PB6 ,
    HE3=PE1 ,
    BED_HEATER=PB7
aliases_rgb:
    CHAMBER_RGB=PA9 ,
    RGB1=PB15
aliases_i2c:
    SCL= ,
    SDA= 
aliases_spi:
    MISO=PA6 , 
    MOSI=PA7 , 
    SCLK=PA5 ,
    SPI2_CS=PC4
aliases_can:
    CAN_TX=,
    CAN_RX=,
    CAN_STANDBY=
aliases_misc:
    PS_ON=PC3, 
   aliases:
    # EXP1 header
    EXP1_1=PE9  , EXP1_2=PE10 ,
    EXP1_3=PE11 , EXP1_4=PE12 ,
    EXP1_5=PE13 , EXP1_6=PE14 ,    # Slot in the socket on this side
    EXP1_7=PE15 , EXP1_8=PB10 ,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PB14 , EXP2_2=PB13,
    EXP2_3=PF7  , EXP2_4=PB12,
    EXP2_5=PE7  , EXP2_6=PB11,      # Slot in the socket on this side
    EXP2_7=PE8  , EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=PC5,

    MOT=PC13
