#################
# Carbon Filter #
#################

[fan_generic filter]
pin: FAN1
shutdown_speed: 0.0
max_power: 0.65

[delayed_gcode filter_off]
gcode:
    SET_FAN_SPEED FAN=filter SPEED=0

[gcode_macro TOGGLE_FILTER]
gcode:
    {% if printer['fan_generic filter'].speed == 0 or params.ON|default(0)|int == 1 %}
      SET_FAN_SPEED FAN=filter SPEED=1
    {% else %}
      SET_FAN_SPEED FAN=filter SPEED=0
    {% endif %}

###################
# Bed Fan Control #
###################

[heater_generic chamber]
heater_pin: FAN0
#sensor_type: Generic 3950
#sensor_pin: TH0
sensor_type: temperature_combined
sensor_list: temperature_sensor chamber_gantry, temperature_sensor chamber_bottom_left_front, temperature_sensor chamber_top_right_back
combination_method: mean
maximum_deviation: 100
control: pid
pid_Kp: 61.470837
pid_Ki: 0.5
pid_Kd: 0
pwm_cycle_time: 0.3
min_temp: -273.15
max_temp: 75
gcode_id: C
max_power: 0.65

[temperature_sensor chamber_gantry]
sensor_type: Generic 3950
sensor_pin: TH0

[temperature_sensor chamber_bottom_left_front]
sensor_type: Generic 3950
sensor_pin: TH2

[temperature_sensor chamber_top_right_back]
sensor_type: Generic 3950
sensor_pin: TH1

[verify_heater chamber]
max_error: 120
check_gain_time: 120
hysteresis: 50
heating_gain: 1

[gcode_macro SET_CHAMBER]
gcode:
  {% set target_chamber = params.CHAMBER_TEMP|default(0)|float %}
  SET_HEATER_TEMPERATURE heater=chamber target={target_chamber}

[gcode_macro HEATSOAK_CHAMBER]
gcode:
    {% set target_chamber = params.CHAMBER_TEMP|default(0)|float %}
    SET_DISPLAY_TEXT MSG="Heatsoak: {target_chamber}c"  # Display info on display
    {% if target_chamber > 0 and not printer["heater_generic chamber"].temperature >= target_chamber|float%} #wait for chamber temps
        SET_CHAMBER CHAMBER_TEMP={target_chamber+1} #+1 °C for faster temp target arrival
        M106 S127 #part cooling fan 50%
        TEMPERATURE_WAIT SENSOR="heater_generic chamber" MINIMUM={target_chamber-0.1} #wait until chamber temp is very nearly reached
        SET_CHAMBER CHAMBER_TEMP={target_chamber} #set correct chamber target and let PID do its magic
    {% endif %}

    #in case chamber was already heated
    {% if target_chamber > 0 %}
        SET_CHAMBER CHAMBER_TEMP={target_chamber} 
    {% endif %}  # Waits for chamber temp

[gcode_macro PREHEAT]
gcode:
  {% set temp = params.TEMP|default(55)|float %}
  M140 S110
  TOGGLE_FILTER ON=1                                      # Turn on the filter
  HEATSOAK_CHAMBER CHAMBER_TEMP={temp}
