[gcode_macro HEAT_SOAK]
variable_check_interval: 10
variable_stage: None

variable_target_chamber_temp: 0
variable_total_time_elapsed: 0
variable_soak_time_elapsed: 0
variable_soak_time: 0
variable_bed_temp: 0
variable_use_hotend: 0

gcode:
  {% set SOAK_TIME = params.SOAK_TIME|default(300)|int %}
  {% set TARGET_CHAMBER_TEMP = params.TARGET_CHAMBER_TEMP|default(40)|int %}
  {% set SOAK_BED_TEMP = params.BED_TEMP|default(115)|int %}
  {% set USE_HOTEND = params.USE_HOTEND|default(1)|int %}
  M117 Starting heat soak.
  

  G28
  G0 Z60 F8000
  G0 X10 Y20 F18000
  M84

  SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=stage VALUE="'heating'"
  SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=total_time_elapsed VALUE=0
  SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=soak_time_elapsed VALUE=0
  SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=soak_time VALUE={SOAK_TIME}
  SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=target_chamber_temp VALUE={TARGET_CHAMBER_TEMP}
  SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=bed_temp VALUE={SOAK_BED_TEMP}

  filter_stats name=nevermore_monitor

  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={SOAK_BED_TEMP}
  {% if USE_HOTEND > 0 %}
    M104 S170 ; hotend to 170 degrees
    M106 S89 ; 35% fan
  {% endif %}

  UPDATE_DELAYED_GCODE ID=heat_soaker DURATION={ check_interval }
  
  {% if USE_HOTEND > 0 %}
    M118 Starting heat soak to { TARGET_CHAMBER_TEMP } at { SOAK_BED_TEMP } with { SOAK_TIME/60 } minutes rest.
  {% else %}
    M118 Starting heat soak to { TARGET_CHAMBER_TEMP } at { SOAK_BED_TEMP } with { SOAK_TIME/60 } minutes rest, with hotend assistance.
  {% endif %}
  
[gcode_macro CANCEL_HEAT_SOAK]
gcode:
  {% set immediate = params.IMMEDIATE|default(0)|int %}

  {% if immediate == 0 %}
    SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=stage VALUE="'cancel'"
    UPDATE_DELAYED_GCODE ID=heat_soaker DURATION=1
  {% else %}
    SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=stage VALUE="'done'"
    UPDATE_DELAYED_GCODE ID=heat_soaker DURATION=0
    TURN_OFF_HEATERS
    SET_FAN_SPEED FAN=bed_fan SPEED=0
    SET_FAN_SPEED FAN=nevermore SPEED=0
    M106 S0
    _status_ready
  {% endif %}

[delayed_gcode heat_soaker]
gcode:
  _status_heating
  {% set heat_soak = printer['gcode_macro HEAT_SOAK'] %}

  {% set total_time_elapsed = heat_soak.total_time_elapsed + heat_soak.check_interval %}
  SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=total_time_elapsed VALUE={ total_time_elapsed }
  {% set soak_time_elapsed = heat_soak.soak_time_elapsed %}

  {% set stage = heat_soak.stage %}

  {% if stage == "heating" and printer.heater_bed.temperature >= (heat_soak.bed_temp-2) %}
    {% set stage = "soaking" %}
    M118 Set point reached. Soaking.
    _status_heating
  {% endif %}
  
  {% if stage == "soaking" %}
    {% set soak_time_elapsed = heat_soak.soak_time_elapsed + heat_soak.check_interval | int %}
    SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=soak_time_elapsed VALUE={ soak_time_elapsed }
    {% if soak_time_elapsed >= heat_soak.soak_time %}
      {% set stage = "fanning" %}
      M118 Soaking complete. Adding fan.
    SET_FAN_SPEED FAN=nevermore SPEED=0.5
    {% endif %}
  {% endif %} 

  # fan hysteresis to prevent cooling the bed and crashing
  {% if stage == "fanning" and printer.heater_bed.temperature < (heat_soak.bed_temp-2) %}
    SET_FAN_SPEED FAN=bed_fan SPEED=0
  {% endif %}
  {% if stage == "fanning" and printer.heater_bed.temperature >= (heat_soak.bed_temp-1) %}
    SET_FAN_SPEED FAN=bed_fan SPEED=0.4
  {% endif %}

  
  {% if stage == "fanning" and printer["temperature_sensor chamber"].temperature|float >= heat_soak.target_chamber_temp %}
    _status_ready
    {% set stage = "done" %}
  {% endif %}

  SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=stage VALUE="'{ stage }'"

  {% if stage in ("done", "cancel") %}
    {% if stage == "cancel" %}
      TURN_OFF_HEATERS
      SET_FAN_SPEED FAN=bed_fan SPEED=0
      SET_FAN_SPEED FAN=nevermore SPEED=0
      M106 S0
      _status_ready
 
      M117 { "soak cancelled after ~%.1fm" | format(total_time_elapsed / 60.0) }
      M118 { "soak cancelled after ~%.1fm" | format(total_time_elapsed / 60.0) }
      {% set stage = "done" %}
    {% else %}
      _status_ready
      SET_FAN_SPEED FAN=bed_fan SPEED=0
      SET_FAN_SPEED FAN=nevermore SPEED=0
      M106 S0
      FLASH_LIGHTS
      M117 { "soak complete after %.1fm" | format(total_time_elapsed / 60.0) }
      M118 { "soak complete after %.1fm" | format(total_time_elapsed / 60.0) }
    {% endif %}
 
    SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=total_time_elapsed  VALUE=0
 
    {% else %}
      {% if total_time_elapsed % 60 == 0 %}
        ## output status periodically
        {% if stage == "heating" %}
          M117 { "heating -- %.1fm elapsed" | format(total_time_elapsed / 60.0) }
        {% endif %}
        {% if stage == "soaking" %}
          M117 { "soaking -- %.1fm / %.1fm elapsed" | format(soak_time_elapsed / 60.0, total_time_elapsed / 60.0) }
        {% endif %}
        {% if stage == "fanning" %}
          M117 { "fanning -- %.1fm elapsed" | format(total_time_elapsed / 60.0) }
        {% endif %}
      {% endif %}
 
      ## trigger ourselves again
      UPDATE_DELAYED_GCODE ID=heat_soaker DURATION={ heat_soak.check_interval }
 
      ## dwell for 1ms to prevent from going idle
      G4 P1
  {% endif %}

[gcode_macro HEAT_SOAK_TOGGLE]
gcode:
  {% set heat_soak = printer['gcode_macro HEAT_SOAK'] %}
  {% if heat_soak.stage == "heating" or heat_soak.stage == "soaking" or heat_soak.stage == "fanning" %}
    CANCEL_HEAT_SOAK
  {% else %}
    HEAT_SOAK
  {% endif %} 
