[gcode_macro HEAT_SOAK]
variable_check_interval: 10
variable_stage: None

variable_target_chamber_temp1: 35
variable_target_chamber_temp2: 40
variable_total_time_elapsed: 0

gcode:
  M117 "Starting heat soak."

  SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=stage VALUE="'heating'"
  SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=total_time_elapsed VALUE=0

  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET=100
  SET_FAN_SPEED FAN=nevermore SPEED=0.8

  UPDATE_DELAYED_GCODE ID=heat_soaker DURATION={ check_interval }
  
[gcode_macro CANCEL_HEAT_SOAK]
gcode:
  SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=stage VALUE="'cancel'"
  UPDATE_DELAYED_GCODE ID=heat_soaker DURATION=1

[delayed_gcode heat_soaker]
gcode:
  _status_heating
  {% set heat_soak = printer['gcode_macro HEAT_SOAK'] %}

  {% set total_time_elapsed = heat_soak.total_time_elapsed + heat_soak.check_interval %}
  SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=total_time_elapsed VALUE={ total_time_elapsed }

  {% set stage = heat_soak.stage %}
  {% if stage == "heating" and printer.chamber.temperature >= heat_soak.target_chamber_temp1 %}
    {% set stage = "soaking" %}
    M117 "Set point reached. Gantry time!"
    _CQGL
    _status_heating
  {% endif %}

  
  {% if stage == "soaking" and printer.chamber.temperature >= heat_soak.target_chamber_temp2 %}
    _status_ready
    {% set stage = "done" %}
  {% endif %}

  SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=stage VALUE="'{ stage }'"

  {% if stage in ("done", "cancel") %}
    {% if stage == "cancel" %}
      {% set stage = "done" %}
      TURN_OFF_HEATERS
      SET_FAN_SPEED FAN=nevermore SPEED=0
      _status_ready
 
      M117 { "soak cancelled after ~%.1fm" | format(total_time_elapsed / 60.0) }
    {% else %}
      _status_ready
      M117 { "soak complete after %.1fm" | format(total_time_elapsed / 60.0) }
    {% endif %}
 
    SET_GCODE_VARIABLE MACRO=HEAT_SOAK VARIABLE=total_time_elapsed  VALUE=0
 
    {% else %}
      {% if total_time_elapsed % 90 == 0 %}
        ## output status periodically
        {% if stage == "heating" or stage == "soaking" %}
          M117 { "heating -- %.1fm elapsed" | format(total_time_elapsed / 60.0) }
        {% endif %}
      {% endif %}
 
      ## trigger ourselves again
      UPDATE_DELAYED_GCODE ID=heat_soaker DURATION={ heat_soak.check_interval }
 
      ## dwell for 1ms to prevent from going idle
      G4 P1
  {% endif %}

[gcode_macro HEAT_SOAK_TOGGLE]
gcode:
  {% set heat_soak = printer['gcode_macro HEAT_SOAK'] %}
  {% if heat_soak.stage == "heating" or heat_soak.stage == "soaking" %}
    CANCEL_HEAT_SOAK
  {% else %}
    HEAT_SOAK
  {% endif %} 
