
[homing_override]
axes: xyz
gcode:
#  {% if ('Y' in params or ('X' not in params and 'Y' not in params and 'Z' not in params)) or ('y' not in printer.toolhead.homed_axes and 'X' in params) %}
#    G28 Y
#  {% endif %}
#  {% if 'X' in params or ('X' not in params and 'Y' not in params and 'Z' not in params) %}
#    G90
#    G0 Y190
#    G28 X
#  {% endif %}
#  {% if 'Z' in params or ('X' not in params and 'Y' not in params and 'Z' not in params) %}
#    G90
#    G0 X90 Y90
#    G28 Z
#  {% endif %}
 
  {% set x = false %}
  {% set y = false %}
  {% set z = false %}
  {% set reapeat_y = false %}
  {% if 'X' in params or 'XY' in params or ('X' not in params and 'Y' not in params and 'Z' not in params) %}
    {% set x = true %}
  {% endif %}
  {% if 'Y' in params or 'XY' in params or ('X' not in params and 'Y' not in params and 'Z' not in params) %}
    {% set y = true %}
  {% endif %}
  {% if 'Z' in params or ('X' not in params and 'Y' not in params and 'XY' not in params and 'Z' not in params) %}
    {% set z = true %}
  {% endif %}

  SET_GCODE_OFFSET X=0 Y=0 Z=0 MOVE=1

  {% if 'z' not in printer.toolhead.homed_axes %}
    {% set forced_z = true %}
    SET_KINEMATIC_POSITION Z=0 SET_HOMED=Z
    G91
    G0 Z5
    G90
    {% if x and 'y' in printer.toolhead.homed_axes %}
      {% set repeat_y = true %}
    {% endif %}
    {% if not z %}
      M84
    {% endif %}
  {% elif 'z' in printer.toolhead.homed_axes %}
    G91
    G0 Z5
    G90
  {% endif %}

  {% if y or ((x or z) and 'y' not in printer.toolhead.homed_axes) or repeat_y %}
    G28 Y
  {% endif %}
  {% if x or (z and not 'x' in printer.toolhead.homed_axes) %}
    G90
    G0 Y{printer.toolhead.axis_maximum.y}
    G28 X
  {% endif %}
  {% if z %}
    INITIALIZE_TOOLCHANGER
    ENSURE_PROBE
    M400 # wait for move to complete
    G90
    G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_maximum.y/2} F12000
    G28 Z
    _ADJUST_Z_HOME_FOR_TOOL_OFFSET
    G0 Z3
  {% endif %}
  _APPLY_ACTIVE_TOOL_GCODE_OFFSETS
