[gcode_macro _CG28]
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        _status_homing
        G28
    {% endif %}

[gcode_macro _CQGL]
gcode:
  {% if not printer.quad_gantry_level.applied %}
    _CG28
    _status_leveling
    QUAD_GANTRY_LEVEL
    _status_homing
    G28 Z
    _status_ready
  {% endif %}


#####################################################################
#   Print Start
#####################################################################

[gcode_macro PRINT_START]
gcode:
  # This part fetches data from your slicer. Such as bed, extruder, and chamber temps and size of your printer.
  {% set target_bed = params.BED|int %}
  {% set target_extruder = params.EXTRUDER|int %}
  {% set target_chamber = params.CHAMBER|default(0)|float %}
  {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
  {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}

   SET_DISPLAY_TEXT MSG="Print Starting: Hotend:{target_extruder}c, Bed: {target_bed}c, Chamber: {target_chamber}c" 
#   _SET_NOZZLE_LEDS
#   _SET_LOGO_LED
  # Home the printer, set absolute positioning and update the Stealthburner LEDs.
  _status_homing
  _CG28                                                   # Full home (XYZ)
  G90                                                   # Absolute position
  G0 Z25
  G0 X90 Y90 F12000
 
  BED_MESH_CLEAR                                       # Clear old saved bed mesh (if any)

  _status_heating
  # Check if the bed temp is higher than 90c - if so then trigger a heatsoak and toggle filter.
  {% if target_chamber > 25 %}
    M140 S{[target_bed,110]|max}                         # Set the target temp for the bed
    #M106 S255                                           # Turn on the part cooling fan
    UPDATE_DELAYED_GCODE ID=_PRINT_END_DELAYED DURATION=0 ; stop previous delayed gcode
    TOGGLE_FILTER ON=1                                   # Turn on the filter
    HEATSOAK_CHAMBER CHAMBER_TEMP={target_chamber} 
  {% endif %}
  SET_DISPLAY_TEXT MSG="Bed: {target_bed}c"             # Display info on display
  M190 S{target_bed}                                   # Set the target temp for the bed

  SET_DISPLAY_TEXT MSG="Hotend: 145c"                  # Display info on display
  M109 S145                                            # Heat hotend to 150c

  SET_DISPLAY_TEXT MSG="Leveling"                      # Display info on display
  _CQGL
  CLEAN_NOZZLE
  _status_leveling
  G0 Z5
  CARTOGRAPHER_TOUCH_HOME

  M118 meshing
  _status_meshing
  BED_MESH_CALIBRATE ADAPTIVE=1

  # Heat up the hotend up to target via data from slicer
  SET_DISPLAY_TEXT MSG="Hotend: {target_extruder}c"     # Display info on display
  _status_heating
  M107                                                  # Turn off partcooling fan
  M104 S{target_extruder}
  G0 Z10
  G0 X90 Y185 F12000
  M109 S{target_extruder}                               # Heat the hotend to set temp
  G0 X90 Y90 F12000

  SET_DISPLAY_TEXT MSG="Printer goes brr"               # Display info on display
  _status_printing

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    {% set th = printer.toolhead %}
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-10.0 F3600                ; retract filament

    M107                           ; turn off fan
    #SET_FAN_SPEED FAN=filter SPEED=0
   	{% if printer.heater_bed.temperature >= 90 %}
	    _status_busy
	    UPDATE_DELAYED_GCODE ID=_PRINT_END_DELAYED DURATION=900
  	{% else %}
	    _status_ready
  	{% endif %}

    G91                            ; relative positioning
    G0 Z1.00 X20.0 Y20.0 F20000    ; move nozzle to remove stringing
    TURN_OFF_HEATERS

    G1 Z2 F3000                    ; move nozzle up 2mm
    G90                            ; absolute positioning
    G0  X{th.axis_maximum.x//2} Y{th.axis_maximum.y-5} F3600            ; park nozzle at rear

    BED_MESH_CLEAR
    _status_off

[delayed_gcode _PRINT_END_DELAYED]
gcode:
     SET_FAN_SPEED FAN=filter SPEED=0
    _status_ready

[gcode_macro PRIME]
gcode:
  {% set x_mid = printer.toolhead.axis_maximum.x|float / 2 %}
  G90
  G0 X{x_mid - 50} Y3 F10000                           # Go to starting point
  G0 Z1
  _MICRON_PURGE

[gcode_macro _MICRON_PURGE]
gcode:
  G90
  G92 E0.0 ; reset extruder
  G1 Z0.8 F6000.0
  G91 ; Relative Movement
  G1 X8.75 Y15 E17.37 F360.0 
  G92 E0.0 ; reset extruder
  G1 X-4.47 Y-8.505 F360.0
  G1 X9 E9 F360.0
  G92 E0.0 ; reset extruder
  G1 X-3 F360.0
  G1 X4.96 Y8.505 E9.85 F360.0
  G1 E-0.5 F2100 ; small retraction
  G92 E0.0 ; reset extruder
  G90

[gcode_macro SEARCH_VARS]
gcode:
    {% set search = params.S|lower %}
    {% set ns = namespace() %}
    {% for item in printer  %}
        {% if ' ' in item %}
            {% set ns.path = ['printer', "['%s']" % (item), ''] %}
        {% else %}
            {% set ns.path = ['printer.', item, ''] %}   
        {% endif %} 

        {% if search in ns.path|lower %}
            { action_respond_info(ns.path|join) }
        {% endif %} 

        {% if printer[item].items() %}
            {% for childkey, child in printer[item].items() recursive %}
                {% set ns.path = ns.path[:loop.depth|int + 1] %}

                {% if ' ' in childkey %}
                    {% set null = ns.path.append("['%s']" % (childkey)) %}
                {% else %}
                    {% set null = ns.path.append(".%s" % (childkey)) %}
                {% endif %} 

                {% if child is mapping  %}
                    { loop(child.items()) }
                {% else %}
                    {% if search in ns.path|lower %}
                        { action_respond_info("%s : %s" % (ns.path|join, child)) }   
                    {% endif %} 
                {% endif %} 
                
            {% endfor %}
        {% endif %} 
    {% endfor %}

[gcode_macro cooldown]
gcode:
	M104 S0 ; extruder off
	M140 S0 ; bed off


[gcode_macro M106]
rename_existing: M10699
gcode:
  {% if (params.P|int if params.P is defined else 0) != 3 %}
    # {% set fan = 'fan' + (params.P|int if params.P is defined else 0)|string %}
      {% set speed = (params.S|int if params.S is defined else 255) %}
      #SET_FAN_SPEED FAN=fan SPEED={speed}
    M10699 S{speed}
  {% endif %}

[gcode_macro M107]
rename_existing: M10799
gcode:
  {% if (params.P|int if params.P is defined else 0) != 3 %}
    M10799
  {% endif %}

[gcode_macro PARK_NOZZLE_STOP]
gcode:
  {% set speed = params.SPEED|default(1200)|int %}
  _CQGL
  G90
  {% if printer.gcode_move.gcode_position.z < 10 %}
    G0 Z10
  {% endif %}
  G0 X122 Y189 F{speed}
  G0 Z-2

[gcode_macro UNPARK_NOZZLE_STOP]
gcode:
  {% set speed = params.SPEED|default(1200)|int %}
  G91
  G0 Z10
  G0 X90 Y90 F{speed}
  G90

# Blocking temperate to temperature_wait - Doesn't wait as long for stabilization
[gcode_macro M109]
rename_existing: M99109
gcode:
    #Parameters
    {% set s = params.S|float %}

    M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}  ; Set hotend temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s} MAXIMUM={s+1}   ; Wait for hotend temp (within 1 degree)
    {% endif %}
[gcode_macro M190]
rename_existing: M99190
gcode:
    #Parameters
    {% set s = params.S|float %}

    M140 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}   ; Set bed temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={s} MAXIMUM={s+1}  ; Wait for bed temp (within 1 degree)
    {% endif %}


[gcode_macro SQUIGGLY_PURGE]
gcode:
    # Mathematical constants
    {% set TAU = 6.28318 %}
    {% set PI = 3.14159 %}
    {% set FACTORIALS = [1, 2, 24, 720, 40320, 3628800, 479001600, 87178291200, 20922789888000] %}
    
    # Base macro parameters
    {% set prime_line_steps = params.STEPS|default(16)|int %}
    {% set prime_line_periods = params.PERIODS|default(10)|int %}
    {% set prime_line_amplitude = params.AMPLITUDE|default(5.0)|float %}
    {% set prime_line_period_length = params.PERIOD_LENGTH|default(5.0)|float %}
    {% set prime_line_purge_distance = params.PURGE_LENGTH|default(100.0)|float %}
    {% set prime_line_flowrate = params.FLOWRATE|default(10.0)|float %}
    {% set prime_line_height = params.LINE_HEIGHT|default(0.6)|float %}
    {% set prime_line_unretract_length = params.UNRETRACT_LENGTH|default(5.0)|float %}
    {% set prime_line_direction = params.LINE_DIRECTION|default("X")|string|upper %}
    {% set prime_line_margin = params.LINE_MARGIN|default(10.0)|float %} # Used only in adaptive mode
    {% set prime_line_adaptive = params.ADAPTIVE_MODE|default(1)|int %}
    {% set verbose = params.VERBOSE|default(1)|int %}

    # Validate parameters to avoid division by zero during extrusion calculations
    {% if prime_line_steps < 1 or prime_line_periods < 1 %}
        {action_raise_error("SQUIGGLY_PURGE: STEPS and PERIODS must be >= 1 (got STEPS=%d, PERIODS=%d)" % (prime_line_steps, prime_line_periods))}
    {% endif %}

    # If the SIZE parameter is defined and not a dummy placeholder, we use it to do the adaptive bed mesh logic
    {% set coordinates_found = False %}
    {% if params.SIZE is defined and params.SIZE != "0_0_0_0" %}
        {% set xMinSpec, yMinSpec, xMaxSpec, yMaxSpec = params.SIZE.split('_')|map('trim')|map('float') %}
        {% set coordinates_found = True %}
    {% elif printer.exclude_object is defined %}
        {% if printer.exclude_object.objects %}
            # Else if SIZE is not defined, we fallback to use the [exclude_object] tags
            # This method is derived from Kyleisah KAMP repository: https://github.com/kyleisah/Klipper-Adaptive-Meshing-Purging)
            {% set eo_points = printer.exclude_object.objects|map(attribute='polygon')|sum(start=[]) %}
            {% set xMinSpec = eo_points|map(attribute=0)|min %}
            {% set yMinSpec = eo_points|map(attribute=1)|min %}
            {% set xMaxSpec = eo_points|map(attribute=0)|max %}
            {% set yMaxSpec = eo_points|map(attribute=1)|max %}
            {% set coordinates_found = True %}
        {% endif %}
    {% endif %}

    # We get the default prime line position parameters
    {% set prime_line_x = params.START_X|default(5.0)|float %}
    {% set prime_line_y = params.START_Y|default(3.5)|float %}
    {% set center_x, center_y = [printer.toolhead.axis_maximum.x / 2, printer.toolhead.axis_maximum.y / 2]|map("float") %}

    # Account for the amplitude (height) of the purge line
    {% if prime_line_direction == "X" %}
        {% set offset_x, offset_y = 0, prime_line_amplitude/2 %}
    {% else %}
        {% set offset_x, offset_y = prime_line_amplitude/2, 0 %}
    {% endif %}

    # If first layer coordinates are retrieved and adaptive mode is enabled, then we replace the coordinates to
    # do an adaptive purge while being careful to have the line stay on the bed when the first layer
    # is in an opposite bed quadrant than the prime line initial coordinates (due to mirrored coordinates from center axes)...
    {% if coordinates_found and prime_line_adaptive == 1 %}
        {% set prime_line_x = 2*center_x - prime_line_x if (prime_line_x > center_x and xMaxSpec < center_x) or (prime_line_x < center_x and xMinSpec > center_x) 
                               else prime_line_x %}
        {% set prime_line_y = 2*center_y - prime_line_y if (prime_line_y > center_y and yMaxSpec < center_y) or (prime_line_y < center_y and yMinSpec > center_y) 
                               else prime_line_y %}
        {% set prime_line_x = [[prime_line_x, xMinSpec - prime_line_margin - offset_x]|max, xMaxSpec + prime_line_margin + offset_x]|min %}
        {% set prime_line_y = [[prime_line_y, yMinSpec - prime_line_margin - offset_y]|max, yMaxSpec + prime_line_margin + offset_y]|min %}
        # Clamp to bed boundaries to prevent moves outside the printable area
        {% set prime_line_x = [[prime_line_x, 0]|max, printer.toolhead.axis_maximum.x]|min %}
        {% set prime_line_y = [[prime_line_y, 0]|max, printer.toolhead.axis_maximum.y]|min %}
    {% endif %}

    # Choose the way of printing the primeline (in + or -) alongside the direction to avoid going outside the bed boundaries
    {% set prime_line_way = -1 if (prime_line_direction == "X" and prime_line_x > center_x) or (prime_line_direction == "Y" and prime_line_y > center_y) else 1 %}

    # Calculate steps
    {% set steps = [] %}
    {% set state = namespace(cur_y=prime_line_y, prime_line_length=0.0, cos=0.0) %}

    {% for step in range(1, prime_line_periods * prime_line_steps + 1) %}
        {% set sign = cycler(1.0, -1.0) %}
        {% set state.cos = 0.0 %}
        {% set rad_angle = step / prime_line_steps * TAU %}
        {% for i in range(0, FACTORIALS|length) %}
            {% set cos_step = sign.next() * ((rad_angle%TAU)**(2*i) / FACTORIALS[i]) %}
            {% set state.cos = state.cos + cos_step %}
        {% endfor %}
        {% set dist_y = prime_line_amplitude * (0.5 - (0.5 * state.cos)) %}
        {% set rel_x = prime_line_period_length/prime_line_steps %}
        {% set rel_y = prime_line_y + dist_y - state.cur_y %}
        {% set e_length = (rel_x**2 + rel_y**2)**0.5 %}
        {% set state.cur_y = state.cur_y + rel_y %}
        {% set state.prime_line_length = state.prime_line_length + e_length %}
        {% set _ = steps.append((rel_x, rel_y, e_length)) %}
    {% endfor %}
    
    {% set extruder_config = printer["configfile"].config["extruder"] %}
    {% set filament_diameter = extruder_config["filament_diameter"]|float %}
    {% set filament_area = PI * (filament_diameter / 2)**2 %}

    # The printer.configfile.config dict only contains values explicitly set by the user.
    # Klipper's own default for max_extrude_cross_section is 4.0 * nozzle_diameter^2, so we
    # replicate that here when the user has not configured it, rather than raising an error.
    {% if "max_extrude_cross_section" in extruder_config %}
        {% set max_extrude_cross_section = extruder_config["max_extrude_cross_section"]|float %}
    {% else %}
        {% set nozzle_diameter = extruder_config["nozzle_diameter"]|float %}
        {% set max_extrude_cross_section = 4.0 * nozzle_diameter**2 %}
        {action_respond_info("SQUIGGLY_PURGE: [extruder] max_extrude_cross_section is not configured; falling back to the Klipper default of %.4f mm^2." % max_extrude_cross_section)}
    {% endif %}
    
    # We first compute the width of the prime line
    {% set purge_volume = prime_line_purge_distance * filament_area %}
    {% set line_width = purge_volume / (prime_line_height * state.prime_line_length) %}

    # Then we check that the prime line cross section will not be problematic (exceeding Klipper max_extrude_cross_section)
    # or, if it's the case, we warn the user and add a correction to the length of filament to be purged
    {% if (prime_line_height * line_width) > max_extrude_cross_section %}
        {% if verbose %}
            {action_respond_info("The prime_line_purge_distance of %.4f mm is too high and will exceed the max_extrude_cross_section!" % prime_line_purge_distance)}
        {% endif %}
        {% set prime_line_purge_distance = 0.98 * (max_extrude_cross_section * state.prime_line_length) / filament_area %}
        {% set purge_volume = prime_line_purge_distance * filament_area %}
        {% set line_width = purge_volume / (prime_line_height * state.prime_line_length) %}
        {% if verbose %}
            {action_respond_info("Corrected the prime_line_purge_distance to %.4f mm" % prime_line_purge_distance)}
        {% endif %}
    {% endif %}

    # We then compute the height to width ratio and validate that the prime line will not be too thin
    {% if (prime_line_height / line_width) >= 0.5 %} # TODO: validate this 1/2 ratio is good for all
        {action_raise_error("The prime line will be too thin %.4f x %.4f and will probably not stick properly to the bed. Increase its purge distance or decrease its length!" % (prime_line_height, line_width))}
    {% endif %}

    # Finally we compute the speed to get the correct flowrate for the prime line
    {% set speed = (prime_line_flowrate / (prime_line_height * line_width)) * 60 %}

    G91
    M83
    {% if (printer.toolhead.position.z < 5) %}
        G1 Z5 F600
    {% endif %}

    # Starting position
    G90
    G0 X{prime_line_x} Y{prime_line_y} F18000

    # Add some extra squish to the prime line 
    G1 Z{prime_line_height*0.8} F600

    # Add pressure in the nozzle
    G92 E0
    G1 E{prime_line_unretract_length} F300

    # Prime line
    G92 E0
    G91
    {% if prime_line_direction == "X" %}
        {% for x,y,e in steps %}
            G1 X{x*prime_line_way} Y{y} E{e/state.prime_line_length*prime_line_purge_distance} F{speed}
        {% endfor %}
    {% elif prime_line_direction == "Y" %}
        {% for y,x,e in steps %}
            G1 X{x} Y{y*prime_line_way} E{e/state.prime_line_length*prime_line_purge_distance} F{speed}
        {% endfor %}
    {% else %}
        { action_respond_error("Prime line direction is not valid. Choose either X or Y in the variables.cfg file!") }
    {% endif %}
    G90
    
    # Retract and Z-hop
    G92 E0
    G1 E-0.2 F2100
    G92 E0
    G91
    G1 Z3 F600
    G90

    # Additional small movement to get out of the line as some slicers directly emmit
    # a Z- move as a first step that make the toolhead crash back in the line and get dirty
    G91
    G1 X{5*prime_line_way if prime_line_direction == "X" else 5} Y{5 if prime_line_direction == "X" else 5*prime_line_way} F18000
    G90
    
    # Flushing Klipper's buffer to ensure the primeline sequence is done before continuing
    M400
