[gcode_macro ENSURE_PROBE]
gcode:
    {% if printer.tool_probe_endstop.active_tool_number | int == -1 %}
      {% if "xy" not in printer.toolhead.homed_axes %}
        G28 X Y
      {% endif %}
      G90
      G0 X90 Y90 F15000
      SELECT_TOOL T=0 RESTORE_AXIS=XY
    {% endif %}

[gcode_macro _CG28]
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}

[gcode_macro _CQGL]
gcode:
  {% if not printer.quad_gantry_level.applied %}
    ENSURE_PROBE 
    _CG28
    QUAD_GANTRY_LEVEL
    G28 Z
  {% endif %}


#####################################################################
#   Print Start
#####################################################################

#print_start tool_0_start={first_layer_temperature[0]} tool_1_start={first_layer_temperature[1]} BED={first_layer_bed_temperature[0]} initial_tool={initial_tool} isT0={is_extruder_used[0]} isT1{is_extruder_used[1]}

[gcode_macro print_start]
gcode:
  {% set t0_start = params.TOOL_0_START %}
  {% set t1_start = params.TOOL_1_START %}
  {% set bed_temp = params.BED %}
  {% set t0_used = params.IST0|upper %}
  {% set t1_used = params.IST1|upper %}
  {% set chamber_temp = params.CHAMBER|default(0)|float %}
  # Head off tool head heatup to prevent oozing
  {% if t1_used == "TRUE" %}
    M104 S150 T1
  {% endif %}
  # Always head off T0, it is the probing tool head.
  M104 S150 T0
  # Make sure bed is at printing temperature, only necessary if the slicer has not sent over the gcode to set the bed temp. prior to calling print_start.
  M190 S{bed_temp}
  # Make sure T0 is at probing temps before moving forward.
  M109 S150 T0
  # Home the printer if not already done. 
  _CQGL
  #BED_MESH_CALIBRATE ADAPTIVE=1
  G0 Z40
  # Heat up only the nozzles used to printing temp
  {% if t1_used == "TRUE" %}
    M104 S{t1_start} T1
    {% if t0_used == "TRUE" %}
      M109 S{t0_start} T0
    {% else %}
      M104 S0 T0
      M109 S{t1_start} T1
    {% endif %}
  {% else %}
    M104 S0 T1
    M109 S{t0_start} T0
  {% endif %}
  
  # Here is wher I prime the used tools and set the first one used as the last one primed.
  # If T1 is used and T0 is the starting tool, prime T1 first.
  {% if t1_used == "TRUE" and params.INITIAL_TOOL|int == 0 %}
    # Switch to T1 and prime
    RESPOND MSG="Priming T1 and T0"
    T1
    PRIME_ACTIVE_TOOL T=1
    T0
    PRIME_ACTIVE_TOOL T=0
  # If T1 is used and T1 is the starting tool
  {% elif t1_used =="TRUE" and params.INITIAL_TOOL|int == 1 %}
    # If T0 is used, prime it first
    {% if t0_used == "TRUE" %}
      RESPOND MSG="Priming T0 and T1"
      T0
      PRIME_ACTIVE_TOOL T=0
      T1
      PRIME_ACTIVE_TOOL T=1
    {% else %}
      # T0 is not used, prime T1 only
      RESPOND MSG="Priming T1"
      T1
      PRIME_ACTIVE_TOOL T=1
    {% endif %}
  {% else %}
    # T1 is NOT used in the print, prime T0 only
    RESPOND MSG="Priming T0"
    T0
    PRIME_ACTIVE_TOOL T=0
  {% endif %}

#####################################################################
#  Printer End
#####################################################################

[gcode_macro print_end]
gcode:
    # Move up by 5mm
    G91
    G0 Z5
    G90
    # Move toolhead to the rear
    G0 Y185
    # Switch to T0
    T0
    # Retract an extra 5mm, try to help oozing
    #G0 E-5
    # Turn off heaters
    TURN_OFF_HEATERS
    # Turn off part fans
    M107
    # Turn off motors
    M84

[gcode_macro prime_active_tool]
gcode:
    {% set tool = params.T|int %}
    RESPOND MSG="Tool: {tool}"
    # Print the perimeter and left side with T0
    {% if tool == 0 %}
      _PRIME_LEFT
    {% else %}
      _PRIME_RIGHT
    {% endif %}

[gcode_macro _prime_left]
gcode:
  G21 ; set units to millimeters
  G90 ; use absolute coordinates
  M83 ; use relative distances for extrusion

[gcode_macro _prime_right]
gcode:
  G21 ; set units to millimeters
  G90 ; use absolute coordinates
  M83 ; use relative distances for extrusion
