[gcode_macro ENSURE_PROBE]
gcode:
    M118 actve tool: {printer.tool_probe_endstop.active_tool_number|int}
    {% if printer.tool_probe_endstop.active_tool_number | int == -1 %}
      {% if "xy" not in printer.toolhead.homed_axes %}
        G28 X Y
      {% endif %}
      G90
      G0 X90 Y90 F15000
      INITIALIZE_TOOLCHANGER
      SELECT_TOOL T=0 RESTORE_AXIS=XY
    {% endif %}

[gcode_macro _CG28]
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        _status_homing
        G28
    {% endif %}

[gcode_macro _CQGL]
gcode:
  {% if not printer.quad_gantry_level.applied %}
    _CG28
    _status_leveling
    QUAD_GANTRY_LEVEL
    _status_homing
    G28 Z
    _status_ready
  {% endif %}


#####################################################################
#   Print Start
#####################################################################

[gcode_macro PRINT_START]
gcode:
  # This part fetches data from your slicer. Such as bed, extruder, and chamber temps and size of your printer.
  {% set target_bed = params.BED|int %}
  {% set target_extruder = params.EXTRUDER|int %}
  {% set target_chamber = params.CHAMBER|default(0)|float %}
  {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
  {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}

   SET_DISPLAY_TEXT MSG="Print Starting: Hotend:{target_extruder}c, Bed: {target_bed}c, Chamber: {target_chamber}c" 
#   _SET_NOZZLE_LEDS
#   _SET_LOGO_LED
  # Home the printer, set absolute positioning and update the Stealthburner LEDs.
  _status_homing
  _CG28                                                   # Full home (XYZ)
  G90                                                   # Absolute position
  G0 Z25
  G0 X90 Y90 F12000
 
  BED_MESH_CLEAR                                       # Clear old saved bed mesh (if any)

  _status_heating
  # Check if the bed temp is higher than 90c - if so then trigger a heatsoak and toggle filter.
  {% if target_chamber > 25 %}
    M140 S{[target_bed,110]|max}                         # Set the target temp for the bed
    #M106 S255                                           # Turn on the part cooling fan
    UPDATE_DELAYED_GCODE ID=_PRINT_END_DELAYED DURATION=0 ; stop previous delayed gcode
    TOGGLE_FILTER ON=1                                   # Turn on the filter
    HEATSOAK_CHAMBER CHAMBER_TEMP={target_chamber} 
  {% endif %}
  SET_DISPLAY_TEXT MSG="Bed: {target_bed}c"             # Display info on display
  M190 S{target_bed}                                   # Set the target temp for the bed

  SET_DISPLAY_TEXT MSG="Hotend: 145c"                  # Display info on display
  M109 S145                                            # Heat hotend to 150c

  SET_DISPLAY_TEXT MSG="Leveling"                      # Display info on display
  _CQGL
  CLEAN_NOZZLE
  _status_leveling
  G0 Z5
  CARTOGRAPHER_TOUCH_HOME

  _status_meshing
  BED_MESH_CALIBRATE ADAPTIVE=1

  # Heat up the hotend up to target via data from slicer
  SET_DISPLAY_TEXT MSG="Hotend: {target_extruder}c"     # Display info on display
  _status_heating
  M107                                                  # Turn off partcooling fan
  M104 S{target_extruder}
  G0 Z10
  G0 X90 Y185 F12000
  M109 S{target_extruder}                               # Heat the hotend to set temp
  G0 X90 Y90 F12000

  SET_DISPLAY_TEXT MSG="Printer goes brr"               # Display info on display
  _status_printing

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    {% set th = printer.toolhead %}
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-10.0 F3600                ; retract filament

    M107                           ; turn off fan
    #SET_FAN_SPEED FAN=filter SPEED=0
   	{% if printer.heater_bed.temperature >= 90 %}
	    _status_busy
	    UPDATE_DELAYED_GCODE ID=_PRINT_END_DELAYED DURATION=900
  	{% else %}
	    _status_ready
  	{% endif %}

    G91                            ; relative positioning
    G0 Z1.00 X20.0 Y20.0 F20000    ; move nozzle to remove stringing
    TURN_OFF_HEATERS

    G1 Z2 F3000                    ; move nozzle up 2mm
    G90                            ; absolute positioning
    G0  X{th.axis_maximum.x//2} Y{th.axis_maximum.y-5} F3600            ; park nozzle at rear

    BED_MESH_CLEAR
    _status_off

[delayed_gcode _PRINT_END_DELAYED]
gcode:
     SET_FAN_SPEED FAN=filter SPEED=0
    _status_ready

[gcode_macro PRIME]
gcode:
  {% set x_mid = printer.toolhead.axis_maximum.x|float / 2 %}
  G90
  G0 X{x_mid - 50} Y3 F10000                           # Go to starting point
  G0 Z1
  _MICRON_PURGE

[gcode_macro _MICRON_PURGE]
gcode:
  G90
  G92 E0.0 ; reset extruder
  G1 Z0.8 F6000.0
  G91 ; Relative Movement
  G1 X8.75 Y15 E17.37 F360.0 
  G92 E0.0 ; reset extruder
  G1 X-4.47 Y-8.505 F360.0
  G1 X9 E9 F360.0
  G92 E0.0 ; reset extruder
  G1 X-3 F360.0
  G1 X4.96 Y8.505 E9.85 F360.0
  G1 E-0.5 F2100 ; small retraction
  G92 E0.0 ; reset extruder
  G90

[gcode_macro SEARCH_VARS]
gcode:
    {% set search = params.S|lower %}
    {% set ns = namespace() %}
    {% for item in printer  %}
        {% if ' ' in item %}
            {% set ns.path = ['printer', "['%s']" % (item), ''] %}
        {% else %}
            {% set ns.path = ['printer.', item, ''] %}   
        {% endif %} 

        {% if search in ns.path|lower %}
            { action_respond_info(ns.path|join) }
        {% endif %} 

        {% if printer[item].items() %}
            {% for childkey, child in printer[item].items() recursive %}
                {% set ns.path = ns.path[:loop.depth|int + 1] %}

                {% if ' ' in childkey %}
                    {% set null = ns.path.append("['%s']" % (childkey)) %}
                {% else %}
                    {% set null = ns.path.append(".%s" % (childkey)) %}
                {% endif %} 

                {% if child is mapping  %}
                    { loop(child.items()) }
                {% else %}
                    {% if search in ns.path|lower %}
                        { action_respond_info("%s : %s" % (ns.path|join, child)) }   
                    {% endif %} 
                {% endif %} 
                
            {% endfor %}
        {% endif %} 
    {% endfor %}

[gcode_macro cooldown]
gcode:
	M104 S0 ; extruder off
	M140 S0 ; bed off


[gcode_macro M106]
rename_existing: M10699
gcode:
  {% if (params.P|int if params.P is defined else 0) != 3 %}
    # {% set fan = 'fan' + (params.P|int if params.P is defined else 0)|string %}
      {% set speed = (params.S|int if params.S is defined else 255) %}
      #SET_FAN_SPEED FAN=fan SPEED={speed}
    M10699 S{speed}
  {% endif %}

[gcode_macro M107]
rename_existing: M10799
gcode:
  {% if (params.P|int if params.P is defined else 0) != 3 %}
    M10799
  {% endif %}

[gcode_macro PARK_NOZZLE_STOP]
gcode:
  {% set speed = params.SPEED|default(1200)|int %}
  _CQGL
  G90
  {% if printer.gcode_move.gcode_position.z < 10 %}
    G0 Z10
  {% endif %}
  G0 X122 Y189 F{speed}
  G0 Z-2

[gcode_macro UNPARK_NOZZLE_STOP]
gcode:
  {% set speed = params.SPEED|default(1200)|int %}
  G91
  G0 Z10
  G0 X90 Y90 F{speed}
  G90

# Blocking temperate to temperature_wait - Doesn't wait as long for stabilization
[gcode_macro M109]
rename_existing: M99109
gcode:
    #Parameters
    {% set s = params.S|float %}

    M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}  ; Set hotend temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s} MAXIMUM={s+1}   ; Wait for hotend temp (within 1 degree)
    {% endif %}
[gcode_macro M190]
rename_existing: M99190
gcode:
    #Parameters
    {% set s = params.S|float %}

    M140 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}   ; Set bed temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={s} MAXIMUM={s+1}  ; Wait for bed temp (within 1 degree)
    {% endif %}
