[mcu mmu0]
canbus_uuid: 44342e8ac8a2

[fps my_feedback_sensor]
pin: mmu0:PA3
sample_count: 5
sample_time: 0.005
report_time: 0.200
reversed: False
set_point: 0.5
#happy_hare_sync: True
use_kalico: True

[gcode_macro QUERY_FPS]
gcode:
  M118 FPS Value: { printer["fps my_feedback_sensor"].fps_value|float|round(5) }

[neopixel mmu0_leds]
pin: mmu0:PD3
chain_count: 1
color_order: GRBW

[led_effect test_led]
autostart:              true
frame_rate:             24
leds:
    neopixel:mmu0_leds
layers:
    gradient 1 1 top (1,0,0),(0,1,0),(0,0,1)
