# [pn532 mmu_reader]
# i2c_mcu: mmu0
# i2c_bus: i2c3_PB3_PB4
# i2c_address: 36
# # i2c_software_scl_pin: mmu0:MMU_I2C_SCL
# # i2c_software_sda_pin: mmu0:MMU_I2C_SDA
# irq_pin: ^!mmu0:PB8


# [nfc_reader mmu_reader]
# reader_type = pn532
# # i2c_mcu: mmu0
# # i2c_bus: i2c3_PB3_PB4
# # i2c_address: 36
# # data_ready_pin: ^!mmu0:PB8
