[include fluidd.cfg]
[include boards/m8pv2.cfg]
[include boards/ebb36.cfg]
[include bed_fans.cfg]
[include macros.cfg]
[include led.cfg]
[include T0.cfg]
[include KOMB.cfg]
#[include mmu_test.cfg]

[mcu]
canbus_uuid: 1240e1d83c52

[virtual_sdcard]
path: /home/brm/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 15000
max_z_velocity: 35
max_z_accel: 600
square_corner_velocity: 5
minimum_cruise_ratio: 0.25

[force_move]
enable_force_move: True

[save_variables]
filename: ~/printer_data/config/save_variables.cfg

[shaketune]

[exclude_object]

[gcode_arcs]

[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos  : True  ; use custom park coordinates for x,y [True/False] 
variable_custom_park_x   : 90.0 ; custom x position; value must be within your defined min and max of X
variable_custom_park_y   : 180.0  ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 10.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
#variable_retract          : 1.0   ; the value to retract while PAUSE
variable_cancel_retract   : 5.0   ; the value to retract while CANCEL_PRINT
#variable_speed_retract    : 35.0  ; retract speed in mm/s
#variable_unretract        : 1.0   ; the value to unretract while RESUME
#variable_speed_unretract  : 35.0  ; unretract speed in mm/s
#variable_speed_hop        : 15.0  ; z move speed in mm/s
#variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
#variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
#variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
#variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
##                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
#variable_user_pause_macro : ""    ; Everything insight the "" will be executed after the klipper base pause (PAUSE_BASE) function
#variable_user_resume_macro: ""    ; Everything insight the "" will be executed before the klipper base resume (RESUME_BASE) function
#variable_user_cancel_macro: ""    ; Everything insight the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:

#######################
# Temperature Sensors #
#######################

[temperature_sensor MCU]
sensor_type: temperature_mcu

[temperature_sensor SoC]
sensor_type: temperature_host

################
# X/Y Steppers #
################

[stepper_x]
step_pin: M1_STEP
dir_pin: M1_DIR
enable_pin: !M1_EN
microsteps: 64
rotation_distance: 32
full_steps_per_rotation: 200
position_min: 0
homing_positive_dir: true
homing_retract_dist: 5
position_endstop: 173
position_max: 173
homing_speed: 80#20

[tmc2240 stepper_x]
cs_pin: M1_CS
#spi_bus: spi1
spi_software_sclk_pin: SCLK
spi_software_mosi_pin: MOSI
spi_software_miso_pin: MISO
rref: 12000
interpolate: true
run_current: 0.85
#hold_current: 0.5 # run*0.6, round down 0.05

[autotune_tmc stepper_x]
motor: moons-ms14hs5p4150
tuning_goal: performance

[stepper_y]
step_pin: M2_STEP
dir_pin: M2_DIR
enable_pin: !M2_EN
microsteps: 64
rotation_distance: 32
endstop_pin: ^M2_STOP
full_steps_per_rotation:200
position_min: 0
homing_positive_dir: true
homing_retract_dist: 5
position_endstop: 189
position_max: 189
homing_speed: 80#20

#[tmc2209 stepper_y]
#uart_pin: PC10
#sense_resistor: 0.110
[tmc2240 stepper_y]
cs_pin: M2_CS
#spi_bus: spi1
spi_software_sclk_pin: SCLK
spi_software_mosi_pin: MOSI
spi_software_miso_pin: MISO
rref: 12000
interpolate: true
run_current: 0.85

[autotune_tmc stepper_y]
motor: moons-ms14hs5p4150
tuning_goal: performance
pwm_freq_target: 22e3

[safe_z_home]
home_xy_position: 90,90
speed: 200
z_hop: 5

#####################################################################
# 	Z Motors
#####################################################################

## Z0: front left - on M3A
[stepper_z]
step_pin: M3_STEP
dir_pin: M3_DIR
enable_pin: !M3_EN
rotation_distance: 32
gear_ratio: 64:16
microsteps: 64
endstop_pin: probe:z_virtual_endstop
#position_endstop: 0
position_max: 290
position_min: -5
homing_speed: 16#8
second_homing_speed: 5
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: M3_CS
interpolate: true
run_current: 0.8
#hold_current: 0.5
sense_resistor: 0.110

[autotune_tmc stepper_z]
motor: omc-17he15-1504s
# tuning_goal: performance
tuning_goal: silent

# Z1: back left - on M4
[stepper_z1]
step_pin: M4_STEP
dir_pin: !M4_DIR
enable_pin: !M4_EN
rotation_distance: 32
gear_ratio: 64:16
microsteps: 64

[tmc2209 stepper_z1]
uart_pin: M4_CS
interpolate: true
run_current: 0.8
#hold_current: 0.5
sense_resistor: 0.110

[autotune_tmc stepper_z1]
motor: omc-17he15-1504s
# tuning_goal: performance
tuning_goal: silent

# Z2: back right - on M5
[stepper_z2]
step_pin: M5_STEP
dir_pin: M5_DIR
enable_pin: !M5_EN
rotation_distance: 32
gear_ratio: 64:16
microsteps: 64

[tmc2209 stepper_z2]
uart_pin: M5_CS
interpolate: true
run_current: 0.8
#hold_current: 0.5
sense_resistor: 0.110

[autotune_tmc stepper_z2]
motor: omc-17he15-1504s
# tuning_goal: performance
tuning_goal: silent

# Z3: front right - on M6
[stepper_z3]
step_pin: M6_STEP
dir_pin: !M6_DIR
enable_pin: !M6_EN
rotation_distance: 32
gear_ratio: 64:16
microsteps: 64

[tmc2209 stepper_z3]
uart_pin: M6_CS
interpolate: true
run_current: 0.8
#hold_current: 0.5
sense_resistor: 0.110

[autotune_tmc stepper_z3]
motor: omc-17he15-1504s
# tuning_goal: performance
tuning_goal: silent

##############
# Heated Bed #
##############

[heater_bed]
heater_pin: HE0
sensor_type:Generic 3950
sensor_pin: THB
max_power: 1
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

[bed_mesh]
speed: 120
horizontal_move_z: 10
mesh_min: 30,30
mesh_max: 150,150
zero_reference_position: 90, 90
probe_count: 20,20
adaptive_margin: 10
mesh_pps: 0,0

[quad_gantry_level]
speed: 150
horizontal_move_z: 5
retries: 10
retry_tolerance: 0.04
max_adjust: 10
adaptive_horizontal_move_z: True
gantry_corners:
  -60.2, -10.4
  244.1, 234.5
points:
  8,5
  8,135
  163,135
  163,5

###############
#   Scanner   #
###############
[mcu carto]
canbus_uuid: 523048eb6842

[cartographer]
mcu: carto
x_offset: 0
y_offset: 20
verbose: yes

[cartographer touch]
samples: 5
max_samples: 15

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: carto
min_temp: 5
max_temp: 105

################
# Input Shaper #
################

[resonance_tester]
accel_chip: adxl345 T0
accel_per_hz: 75
probe_points:
     87,90,20
#max_freq: 150
sweeping_period: 0

[input_shaper]
shaper_type_x: ei
shaper_freq_x: 86.6
damping_ratio_x: 0.038
#shaper_type_y: mzv
#shaper_freq_y: 60.4
#damping_ratio_y: 0.046
shaper_type_y: mzv
shaper_freq_y: 59.6
damping_ratio_y: 0.049

###############
# Fan Control #
###############

#[fan_generic controller_fan_back]
[controller_fan controller_fan_back]
pin: FAN2
max_power:0.5
kick_start_time: 0.5
fan_speed: 1.0
idle_speed: 0.5

#[controller_fan controller_fan_front]
#[fan_generic controller_fan_front]
[temperature_fan host]
pin: FAN3
max_power: 0.8
kick_start_time: 0.5
sensor_type: temperature_host
control: watermark
min_temp: 0
target_temp: 60
max_temp: 90


###############
#   TEMP      #
###############
[gcode_button blobifier_button]
pin: ^!PF2
press_gcode:
  M118 hello!
  M117 hello!

[servo blobifier_servo]
pin: MOT
#minimum_pulse_width: 0.0004
#maximum_pulse_width: 0.0024
# 180 in
# 0 out

###############
#  LIGHTING   #
###############
[output_pin daylight]
pin: HE1
pwm: true
shutdown_value: 0
cycle_time: 0.01
value: 0.15

#####################################################################
#  Extruder PID settings, in here so we can save_config
#####################################################################

[extruder]
#control: pid
#pid_kp: 34.736
#pid_ki: 4.631
#pid_kd: 65.131

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 60.317
#*# pid_ki = 3.467
#*# pid_kd = 262.380
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.5336333824247155,2.0420380979337303,0.81831830831556,0.14794715834855668,0.546661060885922,1.277303567855288,-0.5188281254496929,-1.5679004294956156,0.4226620643402771,0.8049569122023339
#*# domain = 3.259006714473623e-07,3.3288622350531007e-07
#*# z_offset = 0
#*# reference_temperature = 28.64
#*#
#*# [cartographer touch_model default]
#*# threshold = 575
#*# speed = 2.0
#*# z_offset = -0.15
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 22.218
#*# pid_ki = 0.956
#*# pid_kd = 129.141
