[gcode_macro print_start]
gcode:
	{% set BED_TEMP = params.BED|default(60)|float %}
	{% set EXTRUDER_TEMP = params.EXTRUDER|default(240)|float %}
	{% set CHAMBER_TEMP = params.CHAMBER|default(0)|float %}
	{% set FILTRATION = params.FILTRATION|default(0)|float %}

	M118 Print preparations starting...

	LIGHTS_MEDIUM

	_status_heating
	# Start bed heating
	M140 S{BED_TEMP}

	{% if CHAMBER_TEMP <= 25 %} # No hot chamber required, just do a quick time based soak
		{% for timer in range(3) %}
      M117 Waiting for bed temperature...
      TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={BED_TEMP} MAXIMUM={BED_TEMP+5}
			M117 soak: {timer|int}/3m
			G4 P60000
		{% endfor %}
		M117
	{% else %} # hot chamber required, soak
		M140 S110
    # G4 P120000
	  M117 Waiting for chamber temperature...
    HEATSOAK_CHAMBER CHAMBER_TEMP={CHAMBER_TEMP}
		# SET_FAN_SPEED FAN=bed speed=1
		# TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={CHAMBER_TEMP} MAXIMUM={CHAMBER_TEMP+999}
		# #SET_FAN_SPEED FAN=bed speed=0.6
		M117 Chamber hot. Setting target bed temp.
		M190 S{BED_TEMP}
		M117 CHamber hot.
	{% endif %}

	BED_MESH_CLEAR

	M117 Heating extruder to 145...
	# Preheat nozzle to 145
	M104 S145
	TEMPERATURE_WAIT SENSOR=extruder MINIMUM=140 MAXIMUM=150

	M117 Homing...
	# Use absolute coordinates
	G90
	# Home the printer
	_status_homing
	_CG28
	_status_leveling
	_CQGL
  PARK X=150 Y=150

	M117 Meshing...
	# Bed Mesh
	_status_meshing

	BED_MESH_CALIBRATE ADAPTIVE=1
  KOMB_TEMP TEMP=200
	G91
	G1 Z5
	G90
	G1 X150 Y150 F12000
	G1 Z5
	CARTOGRAPHER_TOUCH_HOME

	M117 Parking
	_status_heating
	PARK


	UPDATE_DELAYED_GCODE ID=_PRINT_END_DELAYED DURATION=0 ; stop previous delayed gcode
	#{% if FILTRATION > 0 %}
	#	SET_FAN_SPEED FAN=filter SPEED=0.8
	#{% endif %}

	M117 Heating extruder to target...
	# Set and wait for nozzle to reach temperature
	_status_heating
	M109 S{EXTRUDER_TEMP}

	#_status_cleaning
	#CLEAN_NOZZLE PURGE=1 PRIME=1
	#BLOBIFIER_CLEAN

	# go to bed center at 5mm
	#G91
	#G0 Z5
	#G90
	#G0 X150 Y150 F9000

	G90
	M118 Starting print.
	M117
	_status_printing

[gcode_macro print_end]
description: Inserted by slicer at end of print.
  Usage: PRINT_END
gcode:
	#_KM_CHECK_IS_PRINTING
	M400

	M106 S0 ; turn off fan

	G1 E-10 F1000 ; retract 1cm

	M220 S100
	M221 S100

	#blobifier_clean
	#SET_FAN_SPEED FAN=bed speed=0

	{% if printer.heater_bed.temperature >= 90 %}
	  _status_busy
	  UPDATE_DELAYED_GCODE ID=_PRINT_END_DELAYED DURATION=900
	{% else %}
	  _status_ready
	{% endif %}

	TURN_OFF_HEATERS

	{% if printer.bed_mesh %}BED_MESH_CLEAR{% endif %} ; clear bed mesh if present

	{% if printer.toolhead.homed_axes|lower == "xyz" %}
    PARK_ON_NOZZLE_STOP
		#PARK X=290 Y=290 NO_Z=1
	{% endif %}
	M84 ; disable steppers
	CLEAR_PAUSE

	LIGHTS_LOW

	M118 Print finished!


# [gcode_macro CANCEL_PRINT]
# rename_existing: BASE_CANCEL_PRINT
# gcode:
# 	SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout} ; set timeout back to configured value
# 	CLEAR_PAUSE
# 	#PRINT_END
# 	PARK X=150 Y=150 NO_Z=1
# 	TURN_OFF_HEATERS
# 	M106 S0 ; turn off part fan
# 	UPDATE_DELAYED_GCODE ID=_STOP_FILTER_DELAYED DURATION=900
# 	BASE_CANCEL_PRINT
#
[gcode_macro _CANCEL_PRINT]
gcode:
	#SET_FAN_SPEED FAN=bed speed=0.6


[gcode_macro HEATSOAK_CHAMBER]
gcode:
  {% set target_chamber = params.CHAMBER_TEMP|default(0)|float %}
  _CG28
  G90
  G0 Z50
  G0 X150 Y150

  SET_DISPLAY_TEXT MSG="Heatsoak: {target_chamber}c"  # Display info on display
  {% if target_chamber > 0 and not printer["heater_generic chamber"].temperature >= target_chamber|float%} #wait for chamber temps
    M84 # this is gonna take a while
    SET_CHAMBER CHAMBER_TEMP={target_chamber+1} #+1 °C for faster temp target arrival
    #M106 S204 #part cooling fan 80%
    M106 S115 #part cooling fan 45%
    TEMPERATURE_WAIT SENSOR="heater_generic chamber" MINIMUM={target_chamber-0.1} #wait until chamber temp is very nearly reached
    SET_CHAMBER CHAMBER_TEMP={target_chamber} #set correct chamber target and let PID do its magic
  {% endif %}

  #in case chamber was already heated
  {% if target_chamber > 0 %}
    SET_CHAMBER CHAMBER_TEMP={target_chamber} 
  {% endif %}  # Waits for chamber temp

[gcode_macro SET_CHAMBER]
gcode:
  {% set target_chamber = params.CHAMBER_TEMP|default(0)|float %}
  SET_HEATER_TEMPERATURE heater=chamber target={target_chamber}
