[mcu T0]
canbus_uuid: 2641b8411b76
#canbus_uuid: 1b225030602a

############
# Extruder #
############

[extruder]
step_pin: T0:E_STEP
dir_pin: !T0:E_DIR
enable_pin: !T0:E_EN
microsteps: 16
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: T0:HE_HEATER
# sensor_type: Generic 3950
# sensor_pin: T0:HE_TEMP
sensor_type: PT1000#MAX31865
sensor_pin: T0:HE_TEMP#T0:PT100_CS
pullup_resistor: 2200
#spi_bus: spi1
#rtd_nominal_r: 1000
#rtd_reference_r: 4300
#rtd_num_of_wires: 2
min_temp: 0
max_temp: 350
microsteps: 16
full_steps_per_rotation: 200	# 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
pressure_advance: 0.05
pressure_advance_smooth_time: 0.040 # this can be calibrated later
rotation_distance: 22.6789511   #Bondtech 5mm Drive Gears
gear_ratio: 50:10               #BMG Gear Ratio
max_extrude_cross_section: 20
min_extrude_temp: 140

[tmc2209 extruder]
uart_pin: T0:E_UART
run_current: 0.55
sense_resistor: 0.110
interpolate: true

[autotune_tmc extruder]
motor: moons-cse14hra1l410a
tuning_goal: performance

###############
# Fan Control #
###############

[fan]
##	Part Cooling Fan
pin: T0:PC_FAN
kick_start_time: 0.5
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
#kalico min_power: 0.10

[heater_fan extruder_fan]
pin: T0:HE_FAN
heater: extruder
heater_temp: 60.0
kick_start_time: 0.75
tachometer_pin: T0:PB5
tachometer_ppr: 2
tachometer_poll_interval: 0.0009
shutdown_speed: 1.0

# [fan_generic extruder_fan]
# pin: T0:HE_FAN
# kick_start_time: 0.75
# tachometer_pin: T0:PB5
# tachometer_ppr: 2
# tachometer_poll_interval: 0.0009
# shutdown_speed: 1.0

########
# ADXL #
########

[adxl345 T0]
cs_pin: T0:ADXL_CS
spi_software_sclk_pin: T0:ADXL_SCLK
spi_software_mosi_pin: T0:ADXL_MOSI
spi_software_miso_pin: T0:ADXL_MISO
axes_map: x,y,z

#####################################################################
#   Temperature Sensor
#####################################################################

[temperature_sensor T0]
sensor_type: temperature_mcu
sensor_mcu: T0
min_temp: 0
max_temp: 100

#####################################################################
#   RGB
#####################################################################

[neopixel T0_leds]
pin: T0:RGB
chain_count: 3
color_order: GRBW

[stepper_x]
endstop_pin: T0:BLSENSOR

# [filament_switch_sensor extruder]
# switch_pin: ^T0:PB3
# pause_on_runout: False
#
# [filament_switch_sensor toolhead]
# switch_pin: ^T0:PB4
# pause_on_runout: False
